{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container">
  
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <h3>Please login below</h3>
      {{ render_form(form) }}
    </div>
    <div class="col"></div>
  </div>
  {% for field, errors in form.errors.items() %}
  <h3> Please check the following errors: </h3>
    <ol>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ol>
  {% endfor %}
</div>
{% endblock %}
