{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}Login Page{% endblock %}

{% block content %}
<style>
  .card {
    border: 1px solid transparent; /* Set initial border style */
    transition: border-color 0.9s ease; /* Apply transition effect to border-color */
  }

  .card:hover {
    border-color: #189987; /* Change border color on hover */
  }

</style>

<div class="container">
  
  <div class="row ">
    <div class="col-1 "></div>
    <div class="col-4 card p-4">
      <h4>Please login below</h4>
      {{ render_form(form) }}

    </div>
    <div class="col"></div>
  </div>
  
</div>
{% endblock %}
